@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@97.8,300..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #ebdd63, #6d6fe6);
    color: #333;
  }
  
  #rps-game {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center the game content */
  }

.container .image-wrap,
.result-container .image-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 190px;
    background-color: rgba(92, 92, 179, 0.645);
    border: 1px solid #333;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.image-wrap {
    margin-bottom: 50px
}
.container .image-wrap:hover {
    transform: scale(1.05);
}
  /*Score board style for table*/
.score-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}
table {
  font-family: "Manrope", sans-serif;
  margin-top: 10px;
  align-items: center;
  text-align: center;
  width: 70%;
  font-size: 1.3rem;
}

table tr {
  text-align: center;
}

table td {
  width: 60px;
}

table caption {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

  
  #result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  #scoreboard {
    margin-top: 20px;
    font-size: 20px;
  }
  
  #player-score, #computer-score {
    margin: 10px;
  }
  
  #game-info {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #round {
    font-size: 20px;
    margin: 10px 0;
  }

  .fa-hand-rock,
.fa-hand-paper,
.fa-hand-scissors {
  font-size: 4rem;
  font-weight: bolder;
  cursor: pointer;
}


/*------------------Media ---------------*/